<div class="col-md-10 col-md-offset-1">
  <h1>Algorithms</h1>
  <p class="intro">I got interested in algorithms during my first months at the University of Helsinki, during the fabulous algorithms and datastructures course I had scheduled for my first semester. An algorithm is a method of representing instructions for operating a set of precise steps to solve a problem. They are most important in computer science, mathematics and everyday life, needed for data processing and calculations.</p>
</div>
<div list-items></div>
