<div ng-repeat="entry in data">
  <div class="col-md-6"><div class="item-selector" ng-click="show(entry)">
      <div class="list-item head">
        <p class="item-date">{{entry.edited | date:'dd.MM.yyyy, HH:mm'}}</p>
        <h2>{{entry.name}}</h2>
      </div>
      <div class="list-item content">
        <div class="col-md-12" ng-show="entry.datastructures">
          <p>
          <strong>Datastructures:</strong>
          <span ng-repeat="ds in entry.datastructures">{{ds}}</span>
          </p>
        </div>
        <div class="highlight col-md-12">
          <div class="col-md-6">
            <p><strong>Advantages:</strong></p>
            <div ng-repeat="advantage in entry.advantages">
              <p>{{advantage}}</p>
            </div>
          </div>
          <div class="col-md-6">
            <p><strong>Disadvantages:</strong></p>
            <div ng-repeat="disadvantage in entry.disadvantages">
              <p>{{disadvantage}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">{{entry.description}}</div>
      </div></div>
  </div>
</div>
