<h1>{{name}}</h1>
<div class="col-md-12">{{description}}</div>
<div class="col-md-12 highlight">
  <div class="col-md-4 hi" ng-show="datastructures">
    <p><strong>Datastructures:</strong></p>
    <p ng-repeat="ds in datastructures">{{ds}}</p>
  </div>
  <div class="col-md-4">
    <p><strong>Advantages:</strong></p>
    <p ng-repeat="advantage in advantages">{{advantage}}</p>
  </div>
  <div class="col-md-4">
    <p><strong>Disadvantages:</strong></p>
    <p ng-repeat="disadvantage in disadvantages">{{disadvantage}}</p>
  </div>
</div>
<div class="col-md-12">{{content}}</div>
