@dark-color: #444;
@medium-color: #666;
@header-background-color: #F8F8F8;
@border-color: #E7E7E7;
@radius: 5px;

body {
    color: @dark-color;
}

.list-item {
    overflow: hidden;
    padding: 5px;
    border: 1px solid @border-color;
}

.list-item.head {
    background: @header-background-color;
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-topleft: @radius;
    -moz-border-radius-topright: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

.list-item.content {
    border-top: 0px;
    -webkit-border-bottom-left-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    -moz-border-radius-bottomright: @radius;
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}

.item-selector:hover {
    cursor: pointer;
    box-shadow: 0 0 5px @medium-color;
}

.item-date {
    text-align: right;
    font-size: 10px;
    line-height: 0.9;
    color: @medium-color;
}
